/* CSS file: NewsHub.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #F8F9FA;
    color: #181717;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #c1c6ca;
    box-shadow: 20px 20px 8px rgba(114, 105, 105, 0.1);
}

.upr-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.mid-text {
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 20px;
}

.lwr-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.btn button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #41444b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn button:hover {
    background-color: #cc5200;
}

.btn button:active {
    background-color: #993d00;
}